# Web scraping and HTTP requests
requests
beautifulsoup4
selenium
playwright==1.57.0

# Data processing and analysis
pandas>=2.0.0

# AI and machine learning
python-dotenv>=1.0.0

# Fuzzy matching
fuzzywuzzy[speedup]
rapidfuzz

# Langchain
langchain-groq
langchain-core